html {
    --text: #ffffff;
    --background: #232323;
    --primary: #0c0c0c;
    --secondary: #1e1515;
    --accent: #ff7f00;

}

body {
    background-color: var(--background);
}

header h1 {
    background-image: url(Képernyőkép\ 2023-10-02\ 100151.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--text);
    text-align: center;
    padding: 20px;
    font-size: 3.75vw;
}

.row section {
    margin: 15px;
    padding: 14px 14px 7px 14px;
    text-align: justify;
    color: var(--text);
    background-color: var(--primary);
    border-radius: 20px;
}
#bevezetes, #pokol p {
    font-size: 1.2vw;
}

#bevezetes h2, #pokol h2 {
    text-align: center;
}

table * {
    color: white;
}

li {
    list-style-type: upper-roman;
}

#lablec {
    text-align: center;
    background-color: var(--background);
}

#lablec a {
    color: var(--text);
    text-decoration: none;
    font-size: large;
    background-color: var(--primary);
    border-radius: 5px;
    margin: 10px 0px;
    opacity: 50%;
}

#lablec a:hover {
    font-size: x-large;
    opacity: 100%;
}

#lablec {
    background-color: var(--secondary);
}

#tablazat {
    width: 80%;
    margin: auto;
    text-align: center;
}

#tablazat td {
    color: var(--text);
}

#tablazat table {
    border: 1px solid var(--secondary);
    overflow-x: auto;
}

.quote {
    width: 40%;
    color: var(--text);
    background-color: var(--secondary);
    margin: auto;
    text-align: center;
    font-size: xx-large;
    font-style: italic;
    font-weight: bold;
    font-family: "Consolas";
    border-radius: 10px;
}

#copyright {
    display: block;
    position: fixed;
    right: 0px;
    bottom: 6%;
    height: 30px;
    background-color: var(--secondary);
    color: var(--text);
}

@media (max-width: 992px) {
    #bevezetes section, #pokol p {
      font-size: x-large;
    }
}

@media (max-width: 580px) {
    .quote {
        width: 55%;
    }
    header h1 {
        font-size: xx-large;
    }
    #tablazat table {
        font-size: large;
    }
    #lablec a {
        font-size: large;
    }
    #copyright {
        display: none;
    }
}