html {
    --text: #ffffff;
    --background: #232323;
    --primary: #0c0c0c;
    --secondary: #1e1515;
    --accent: #ff7f00;

}

body {
    background-color: var(--background);
}

header h1 {
    color: var(--text);
    text-align: center;
    padding: 20px;
    font-size: 3.75vw;
}

#bevezetes {
    margin: 15px;
    margin-left: 10vw;
    padding: 14px 14px 7px 14px;
    width: calc(100% / 3);
    text-align: justify;
    color: var(--text);
    background-color: var(--primary);
    border-radius: 20px;
    display: inline-block;
}
#bevezetes, #pokol p {
    font-size: 1.2vw;
}

#bevezetes h2, #pokol h2 {
    text-align: center;
}

#pokol {
    margin: 15px;
    margin-right: 10vw;
    padding: 14px 14px 7px 14px;
    width: calc(100% / 3);
    text-align: justify;
    color: var(--text);
    background-color: var(--primary);
    border-radius: 20px;
    float: right;
}

@media (max-width: 576px) {
    #pokol {
        float: none;
    }
}

.row {
    background-color: #ff7f00;
}