html {
    --text: #ffffff;
    --background: #232323;
    --primary: #0c0c0c;
    --secondary: #1e1515;
    --accent: #ff7f00;

}

body {
    background-color: var(--background);
}

header h1 {
    background-image: url(Képernyőkép\ 2023-10-02\ 100151.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--text);
    text-align: center;
    padding: 20px;
    font-size: 3.75vw;
}

.row section {
    margin: 15px;
    padding: 14px 14px 7px 14px;
    text-align: justify;
    color: var(--text);
    background-color: var(--primary);
    border-radius: 20px;
}
#bevezetes, #pokol p {
    font-size: 1.2vw;
}

#bevezetes h2, #pokol h2 {
    text-align: center;
}

table * {
    color: white;
}

#lablec {
    text-align: center;
    background-color: var(--background);
}

#lablec a {
    color: var(--text);
    text-decoration: none;
}

#lablec a:hover {
    font-size: large;
}

li {
    list-style-type: upper-roman;
}